<h1>Editing simulation result</h1>

<%= render "form", simulation_result: @simulation_result %>

<br>

<div>
  <%= link_to "Show this simulation result", @simulation_result %> |
  <%= link_to "Back to simulation results", simulation_results_path %>
</div>
