<h1>Editing datacenter</h1>

<%= render "form", datacenter: @datacenter %>

<br>

<div>
  <%= link_to "Show this datacenter", @datacenter %> |
  <%= link_to "Back to datacenters", datacenters_path %>
</div>
